<br>
<h2 class="text-center">Interactive Chat</h2>
<br>

<!-- Upload  -->
<div *ngIf="!UploadedFile">
  <form id="file-upload-form" class="uploader">
  
    <input id="file-upload" type="file" (change)="fileUpload($event)"
    name="fileUpload" accept=".xls,.xlsx" />
    <label for="file-upload" id="file-drag">
      <img id="file-image" src="#" alt="Preview" class="hidden">
      <div id="start">
        <i class="fa fa-download" aria-hidden="true"></i>
        <div>Select a file</div>
        <div id="notimage" class="hidden">Please select an image</div>
        <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
    </div>
      <div id="response" class="hidden">
        <div id="messages"></div>
        <progress class="progress" id="file-progress" value="0">
          <span>0</span>%
        </progress>
      </div>
    </label>
  </form>
</div>

<div *ngIf="UploadedFile" class="container table-responsive py-5" style="margin:auto">
  <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col" *ngFor="let header of headers">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let value of jsonArrayFromExcel">
          <td *ngFor="let header of headers">{{value[header]}}</td>
        </tr>
      </tbody>
  </table>
  <div class="containerQA mt-sm-5 my-1">
    <!-- <div *ngFor="let ques of questionAndResponse">
      <div *ngIf="ques.response">
        {{ques.question}}
        {{ques.response}}
      </div>
      <div *ngIf="!ques.response"></div> -->
        <div class="py-2 h5" style="display: flex;flex-direction:row;">
          <textarea type="text" style="padding:2%;" class="form-control" placeholder="Enter question" [(ngModel)]="inputQuestion">
         </textarea>
            <br>
          <div style="margin:10px;">
            <button class="btn btn-success" type="button" (click)="submitQuestion(inputQuestion)">Submit</button>
          </div>
        </div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
          <h3>Ans:<span>
            <b>{{this.apis._returnedChatGPTResponse}}</b>
          </span></h3>
        </div>
    <div class="d-flex align-items-center pt-3">
 
    </div>
  </div>
</div>


 

